.main_faq {
    background-color: #1b1a17;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: space-around;

    @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;

    }
    @media (max-width:$smartphones) {
        display: flex;
        flex-direction: column;
    
    }
    &_section1 {
        height: 400px;
        width: 400px;
        font-size: 10px;
        color: #e8e8e8;
        word-break: break-all;
        font-family: "Poppins", sans-serif;
        display: inline-block;
        overflow: hidden;
    }
    &_section2{
margin-bottom: 100px;
    }
}

.carousel-item2 {
    width: 300px !important;
    height: 300px !important;

}