/*----------------------product-----------------*/
.main_product {
    background-color: rgb(50, 49, 49);
    &_container{
    background: rgb(50, 49, 49);

}



.card{



&_body {
    @include flex(column, center, flex-start, none, none) ;
    padding: 20px !important;
    min-height: 150px !important;
    color: #f8b500;
    background-color: #2e0249;
}


.card img {

    height: 200px !important;
    object-fit: cover !important;
}
}
}

.carrito{
    width: 40px;
    height: 40px;

}
.btn{
    background-color:$secondary !important;
    border-color: $secondary !important;
    &:hover{
        background-color: #561480 !important;
        cursor: pointer;
    }
    &-primary{
        background-color:$secondary !important;
        border-color: $secondary !important;
        }
}
