.footer {
    width: auto;
    height: 250px;
    background-color: #16003b !important;
    opacity: 0.9;
    color: #f8b500 !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.image3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: #161616 !important ;
    margin-left: 10px;
}
.footer_ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
}
.redes {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}
.redes:hover {
    cursor: pointer;
    box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
    transform: translateY(-20px);
}
.nav_ul_footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    color: #f8b500;
    font-family: "Poppins", sans-serif;
}
.link2 {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    color: #f8b500 !important;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}
.link2:hover,
.link2:focus {
    background-size: 100% 2px;
}

.link2 {
    margin: 3px;
    text-decoration: none;
    color: #f8b500;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 15px;
    width: auto;
    height: auto;
    flex: 1;
}
.footer_nav {
    display: flex;
    flex: 2;
    align-items: flex-end;
    padding-right: 50px;
}
.container_p {
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .footer_ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    } }